@font-face {
  font-family: 'Inter';
  src: url('../public/font/Inter-Regular.woff2');
}

@font-face {
  font-family: 'Inter';
  src: url('../public/font/Inter-Medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/font/Inter-SemiBold.woff2');
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

body, .notion-app, #__next {
  padding: 0;
  margin: 0;
  background-color: #0D0D0D;
  color: #f5f5f5;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
}

.notion-header {
  display: none;
}

.notion-collection-header {
  display: none;
}


.notion-collection-card {
position: relative;
}

.notion-collection-card-property:nth-child(2) {
  display: none;
}
.notion-collection-card-property:nth-child(3) {
  display: none;
}

.notion-property-url > form, .notion-property-url > form> input, .notion-property-url {
  width: 100%;
  height: 100%;
}

.subcategory {
  display: flex;
  gap: 16px;
  height: 72px;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 12px;  
}

.svgActive {
  color: #f5f5f5;
}

.subActive {
  /* border bottom 1px solid #f5f5f5; */
  border-bottom: 1.5px solid #f5f5f5;
  color: #f5f5f5;
}

.subcategory > div {
  display: flex;
  justify-content: center;
  align-items: top;
  cursor: pointer;
  text-align: center;
  color: #bcbcbc;
  position: relative;
  border-bottom: 1px solid transparent;
  width: 100px;
  gap: 16px;
  flex: none;
  padding-top: 6px;
  
}

.subcategory > div > p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; 
  bottom: 0;
  padding-bottom: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
  border-bottom: 1px solid transparent;
  font-weight: 500;
}

.subcategory > div > p.subActive {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
  border-bottom: 1px solid #f5f5f5;
}

.active {
  display: block;
}

.disabled {
  display: none;
}

.notion-page-content-inner > div {
  width: 100%;
  position: relative;
}

.notion-page-content-inner > div > div {
  max-width: 100%;
  overflow-x: scroll;
  padding-top: 16px;
  position: relative;
}

.notion-collection-card-cover {
  border-radius: 8px;
  width: 100%;
  height: auto;
}

.notion-page-title .notion-page-icon-inline {
  margin-left: 0px;
  margin-right: 6px;
  display: flex;
  align-items: center;
}

.notion-collection-group-title, .notion-collection-view-type-icon {
  display: none;
}

@media screen and (min-width: 970px) {
  .notion-collection-view-tabs-row {
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    gap: 4px;
    position: fixed;
    margin: 0 auto;
    width: auto;
    background-color: transparent;
    border: 2px solid #27262C;
    border-radius: 100px;
    padding: 3px;
    z-index: 10;
    background-color: #0D0D0D;
    -webkit-box-shadow: 0px 12px 24px -8px #0D0D0D; 
    box-shadow: 0px 12px 24px -8px #0D0D0D;
  }

  .contact > div{
    max-width: 85%;
  }
}

.notion-collection-card-cover span, .notion-collection-card-cover img {
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
}

@media screen and (max-width: 970px) {
  .notion-collection-view-tabs-row {
    justify-content: center;
    gap: 4px;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
    position: fixed;
    margin: 0 auto;
    width: auto;
    background-color: #0D0D0D;
    border: 2px solid #27262C;
    border-radius: 100px;
    padding: 3px;
    width: 90%;
    z-index: 999;
    justify-content: space-between;
    translate: all ease-in-out 0.2s;
  }

  .notion-page-content-inner > div > div {
    padding-top: 0px;
  }

  .notion-page-no-cover {
    margin-top: 0px !important;
  }

  .contact-wrapper {
    width: 100%;
  }

  div.contact {
    width: 100%;
    overflow-y: scroll;
  }

  .notion-page-content-inner > div:nth-child(1):after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 30%;
    z-index: 1;
    pointer-events: none;
    background: linear-gradient(to right, rgba(13, 13, 13, 0), #0D0D0D);
    }

  .go-top {
    top: 16px;
  }

  .subcategory {
    margin-top: 48px;
  }

  .notion-collection-view-tabs-content-item {
    padding: 8px 0;
    font-size: 11px;
  }

  .notion-collection-view-tabs-content-item:nth-child(1) {
    display: none;
  }

  .notion-collection-view-type {
    margin: 0;
  }

  .notion-collection-view-tabs-content-item {
    padding: 8  px 2px; 
  }

  .notion-collection-view-tabs-content-item {
    flex-grow: 1;
    justify-content: center;
  }

  .notion-collection-view-type-icon {
    display: none;
    margin-right: 0;
    color: white;
  }
  .notion-collection-view-type-title {
    display: block;
    font-size: 10px;
  }
}

.notion-collection-card-body {
  padding: 4px 0px;
}

/* Hide Scrollbars */
.notion-page-content-inner > div > div::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.notion-page-content-inner > div > div {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.arrow {
  position: absolute;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow:hover {
  transform: scale(1.1);
}

.left {
  left: 0;
  right: auto;
  transform: rotate(180deg);
}

.contact-icon {
  position: absolute;
  right: 0;
  color: #27262C;
  cursor: pointer;
  z-index: 101;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
}

.contact-icon:hover {
  color: #27262C;
  background-color: rgb(227, 227, 227);
}

.contact-wrapper {
  position: fixed;
  display: flex;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0d0d0dcd;
  backdrop-filter: blur(2px);
  opacity: 0;
}

.close {
  flex-grow: 1;
  height: 100%;
}

.contact {
  max-width: 600px;
  z-index: 100;
  right: 0;
  height: 100%;
  background-color: #0d0d0d;
  padding-top: 48px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
  border-left: #3F3F3F 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.privacy {
  width: 80%;
  margin: 0 auto;
  padding: 32px 0 32px 0;
}

.privacy p {
  color: #979797;
}

.contact > p {
  color: #979797;
}

.contribute-form, .thanks-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #292929;
  padding: 24px;
  border-radius: 16px;
  font-size: 14px;
  color: #f5f5f5;
  margin: 0;
  margin-bottom: 32px;
}

.contact > a {
  margin-bottom: 16px;
}

.thanks-wrapper {
  display: none;
  font-size: 24px;
  color: #f5f5f5;
  font-weight: 600;
  text-align: center; 
  border: 1px solid #2e2e2e;
  box-shadow: 0px 0px 50px 10px #292929;
}

.contribute-form > div > h4 {
  margin-block-start: 0;
    margin-block-end: 0;
    font-size: 18px;
    color: #f5f5f5;
}

.contribute-form-send {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}


.contribute-form-send > input {
  width: 100%;
  background-color: #292929;
  border: 2px solid #3F3F3F;
  color: #f5f5f5;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.contribute-form-send > input:focus {
outline: none;
border-color: #666666;
}

.contribute-form-send > div > button {
  background-color: #3F3F3F;
  border: 1px solid #3F3F3F;
  color: white;
  padding: 12px 32px 12px 32px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  opacity: 0.9; 
}

.footer > p{
  font-size: 14px;
  color: #494949;
}

.footer > p > a {
  text-decoration: none;
  color: inherit;
}

.icontitle {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.buttonContent {
  position: relative;
}

.submitButton {
  position: relative;
  z-index: 100;
  height: 100%;
}

.buttonGradient {
  width: calc(100% + 4px);
  height: calc(100% + 3px);
  pointer-events: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background: linear-gradient(135deg, rgba(139,139,139,1) 0%, rgba(13,13,13,0) 50%);
  transition: all 0.3s ease;
  border-radius: 9px;
}

.about-paragraph {
  font-size: 16px;
  line-height: 140%;
  color: #979797;
  font-weight: 400;
}

.about-title{
  font-size: 24px;
  line-height: 140%;
  color: #f5f5f5;
  font-weight: 500;
}

.status {
  font-size: 14px;
  line-height: 140%;
  color: rgb(252, 71, 51);
  font-weight: 400;
  margin: 0%;
}

.social{
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  margin-bottom: 24px;
}

.social > a {
  color: #979797;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.privacy > a {
  color: #494949;
  text-decoration: none;
  font-size: 12px;
}

.privacy-link > a{
  color: #494949;
  text-decoration: none;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.privacy-link > a:hover{
  color: #676767;
  text-decoration: none;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.privacy-link {
  padding-bottom: 32px;
  display: flex;
  gap: 16px;
}

.contact > h3 {
  font-size: 24px;
}

.contact > p {
  color: #979797;
}

.left:hover {
  transform: rotate(180deg) scale(1.1);
}

.arrow > div {
  width: 32px;
  height: 32px;
  background-color: white;
  right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.title {
  display: none;
} 

.notion-collection-view-tabs-row > .notion-collection-view-type {
  border-radius: 8px;
}

.notion-collection-view-tabs-content-item:hover {
  border-radius: 100px;
  background-color: #1D1C21;
}

.notion-collection-view-type-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #f5f5f5;
  background-color: transparent;
  line-height: 140%;
  font-weight: 500;
}

.notion-collection-view-tabs-content-item-active {
  font-weight: 400;
  background-color: #27262C !important;
  border-radius: 100px;
  border: 0px;
}

.notion-collection-view-tabs-content-item-active:hover {
  border-radius: 100px;
}

.notion-collection-view-type {
  background-color: transparent;
  margin: 0px 6px 0px 6px;
}

.notion-page-icon-hero.notion-page-icon-image {
  width: 48px;
  margin-left: 8px;
  margin-bottom: 16px;
  height: 48px;
  display: none;
}

.notion-title {
  font-size: 24px;
  display: flex;
  align-items: center;
  position: relative;
  visibility: hidden;
}

.notion-title > * {
  visibility: visible;
}

.notion-title::before {
  content: "";
  display: inline-block;
  width: 256px;
  height: 28px;
  margin-right: 8px;
  background-image: url("../public/curations_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  visibility: visible;
}

.notion-page-no-cover.notion-page-has-image-icon {
  padding-top: 0;
}

.notion-collection-card {
  background-color: transparent;
  transition: all 0.3s ease;
  box-shadow: none;
}

.notion-collection-card:hover {
  background-color: transparent;
  transform: scale(0.98);
}

.notion-collection-card-cover {
  border: 0px;
}

.notion-page-title-text {
  color: white;
}

.notion-gallery-grid {
  border-top: none;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 32px;
  grid-auto-rows: auto;
}

@media screen and (max-width: 970px) {
  .notion-gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .notion-full-width{
    max-width: 100%;
    overflow: auto;
    --notion-max-width: calc(min(1920px, 98vw));
    padding-left: calc(min(96px, 3vw));
    padding-right: calc(min(96px, 3vw));
  }

  .notion-collection-view-type-title{
    font-size: 12px;
  }

  .notion-collection-view-tabs-row{
    width: 90%;
  }

  /*about page mobile*/
  .about-paragraph{
    font-size: 14px;
  }
  .contribute-form-send{
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .submit-subheader{
    font-size: 14px;
    line-height: 1.4;
  }

  .contribute-form, .thanks-wrapper{
    padding: 20px;
  }

  .contribute-form-send > input{
    font-size: 14px;
  }

  .contribute-form-send > div > button{
    font-size: 14px;
  }

  .footer > p > a{
    font-size: 14px;
    text-decoration: none;
    color: inherit;
  }

  .footer > p{
    font-size: 14px;
  }

  .social > a{
    font-size: 16px;
  }

  .social > a > svg{
    width: 20px;
    height: 20px;
  }
} 