* {
  box-sizing: border-box;
}

body, .notion-app, #__next {
  padding: 0;
  margin: 0;
  background-color: #0D0D0D;
  color: #f5f5f5;
}

.notion-header {
  display: none;
}

.notion-collection-header {
  display: none;
}


.notion-collection-card {
position: relative;
}
.notion-collection-card-property:not(:first-child) {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  opacity: 0;
  left: 0;
  bottom: 0;
}

.notion-property-url > form, .notion-property-url > form> input, .notion-property-url {
  width: 100%;
  height: 100%;
}

.subcategory {
  display: flex;
  gap: 16px;
  height: 80px;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 12px;
}

.subActive {
  /* border bottom 1px solid #f5f5f5; */
  border-bottom: 1px solid #f5f5f5;
}

.subcategory > div {
  display: flex;
  justify-content: center;
  align-items: top;
  cursor: pointer;
  text-align: center;
  color: #bcbcbc;
  position: relative;
  border-bottom: 1px solid transparent;
  width: 100px;
  gap: 16px;
  flex: none;
  padding-top: 4px;
}

.subcategory > div > p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
}

.active {
  display: block;
}

.disabled {
  display: none;
}

.notion-page-content-inner > div {
  width: 100%;
}

.notion-page-content-inner > div > div {
  max-width: 100%;
  overflow-x: scroll;
  padding-top: 16px;
}

.notion-collection-card-cover {
  border-radius: 8px;
}

.notion-collection-group-title, .notion-collection-view-type-icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .notion-collection-view-tabs-row {
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    gap: 8px;
    position: fixed;
    margin: 0 auto;
    width: auto;
    background-color: transparent;
    border: 2px solid #242329;
    border-radius: 100px;
    padding: 3px;
  }
}

@media screen and (max-width: 768px) {
  .notion-collection-view-tabs-row {
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    gap: 8px;
    position: fixed;
    margin: 0 auto;
    width: auto;
    background-color: #0D0D0D;
    border: 2px solid #242329;
    border-radius: 100px;
    padding: 3px;
    width: 90%;
    z-index: 999;
    justify-content: space-between;
  }

  .notion-collection-view-tabs-content-item {
    flex-grow: 1;
  }

  .notion-collection-view-type-icon {
    display: none;
    margin-right: 0;
    color: white;
  }
  .notion-collection-view-type-title {
    display: block;
    font-size: 10px;
  }
}

/* Hide Scrollbars */
.notion-page-content-inner > div > div::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.notion-page-content-inner > div > div {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.arrow {
  position: absolute;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow:hover {
  transform: scale(1.1);
}

.left {
  left: 0;
  right: auto;
  transform: rotate(180deg);
}

.left:hover {
  transform: rotate(180deg) scale(1.1);
}

.arrow > div {
  width: 32px;
  height: 32px;
  background-color: white;
  right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.title {
  display: none;
} 

.notion-collection-view-tabs-row > .notion-collection-view-type {
  border-radius: 8px;
}

.notion-collection-view-tabs-content-item:hover {
  border-radius: 100px;
}

.notion-collection-view-type-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #f5f5f5;
  background-color: transparent;
}

.notion-collection-view-tabs-content-item-active {
  font-weight: 400;
  background-color: #242329;
  border-radius: 100px;
  border: 0px;
}

.notion-collection-view-tabs-content-item-active:hover {
  border-radius: 100px;
}

.notion-collection-view-type {
  background-color: transparent;
}

.notion-page-icon-hero.notion-page-icon-image {
  width: 48px;
  margin-left: 8px;
  margin-bottom: 16px;
  height: 48px;
  display: none;
}

.notion-title {
  font-size: 24px;
  display: flex;
  align-items: center;
  
}

.notion-title::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-image: url("/favicon.png");
  background-size: contain;
}

.notion-page-no-cover.notion-page-has-image-icon {
  padding-top: 0;
}

.notion-collection-card {
  background-color: transparent;
  transition: all 0.3s ease;
}

.notion-collection-card:hover {
  background-color: transparent;
  transform: scale(0.98);
}

.notion-collection-card-cover {
  border: 0px;
}

.notion-page-title-text {
  color: white;
}

.notion-gallery-grid {
  border-top: none;
}
